#primaryWindow {
	border-style: none;
	border-width: 0px;
	height:50%;
	width:100%;
}

body {
	background-color: white;
	overflow:auto;
}

div {
	border-style: none;
	border-width: 0px;
}


#top-left{
	color: black;
	float: left;
}

#top-right{
	color: black;
	float: right;
}

.navb {

	padding:0px;
	background-color: white;
}

.nav {
	background-color: white;
}

#courseLabel{
	font-family: Oswald;
	font: Oswald;
	border-width: 1px;
}

.topper-l {
	padding-left:15%;
	font-size:25px;
	font-family:Oswald, monospace;
	color:black;
	font-weight:bold;

}
 
.topper-r {
	padding-right:12%;
	font-size:25px;
	font-family:Oswald, monospace;
	color:black;
	font-weight:bold;

}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.container {
	height:100%;
}

#sem {
	width:100%;
	text-align: center;
	vertical-align: middle;
    line-height: 60px;
	background-color: #009100
}

.carousel-inner {
	background-color: #009100;
	height:100%;
	width : 100%;
}

.carousel-item {
	height : 95%;
	width : 100%;
}

.carousel-control .icon-prev, 
.carousel-control .icon-next {
    font-size: 100px;
	background-color:blue;
}

.carousel-control-next, .carousel-control-prev {
	width:8%;
}

.requirements {
	float:left;
    vertical-align: top;
	width : 27%;
	height:95%;
	margin-left:8%;
}

.courses {
	height:25%;
}

.info {
	float:right;
  	vertical-align: top;
	width: 57%;
	height: 95%;
	margin-right: 8%;
	border-style: none;
	border-width: 0px;
}

.inside {
	background-color: white;
}

#carouselExampleIndicators {
	min-height : 100%;
	max-height : 100%;
	min-width : 100%;
	max-width : 100%;
}

#semesterHead {
	border-style: none;
	border-width: 1px;
	border-right: 0px;
	border-top: 0;
	border-left: 0px;
	/*font: 30px/32px sans-serif;*/
	font-family: Oswald;
}

ol {
	margin-bottom:0;
}

* {
	box-sizing: border-box;
}

.navbar {
	width:100%;
	padding: 0px;
	border-style: solid;
	border-width: 8px;
	border-color: #009100;
	
}

#Audit {
	font-size:2em;
	text-align: center;
}

table, th, td{
	border: 1px solid #333;
	border-collapse: collapse;
	padding: 15px;
	font-family: Oswald;
	vertical-align: middle;
}

table {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.active{
	background:#009100;
}
tr {
	background-color: white;
	color=black;
}

th {
	background-color: #009100;
}

td{
}

caption {
	padding: 10px;
	letter-spacing: 0.5px;
}

.btn-primary1{
	color: black;
    background-color: white;
    border-color: #009100;
}
.btn-primary2{
	color: black;
    background-color: white;
    border-color: #009100;
}
.btn-primary3{
	color: black;
    background-color: white;
    border-color: #009100;
}
.btn-primary{
	background-color: white;
	color: black;
	border-color:#009100;
}
