#primaryWindow {
	border-style: none;
	border-width: 0px;
	height:50%;
	width:100%;'

}

body {
	background-color: #f1f1f1;

}

div {
	border-style: none;
	border-width: 0px;
}


#top-left{
	color: black;
	float: left;
}

#top-right{
	color: black;
	float: right;
}

.navb {

	padding:0px;
	background-color: white;
}

.nav {
	background-color: white;
	border-radius: 25px;
}

#courseLabel{
	font-family: Oswald;
	font: Oswald;
	border-width: 1px;
}
#topTItle{
	font-family: Oswald;
	font: Oswald;
	font-size:35px;
	padding-left: 12%;
}
.topper-l {
	width:19%;
	text-align:center;
	font-size:25px;
	font-family:Oswald, monospace;
	color:black;
	font-weight:bold;

}
 
.topper-r {
	text-align:center;
	width:57%;
	font-size:25px;
	font-family:Oswald, monospace;
	color:black;
	font-weight:bold;
	padding-right:20%;

}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.container {
	height:100%;
}

#sem {
	width:100%;
	text-align: center;
	vertical-align: middle;
    line-height: 60px;
	background-color: #8bffa7;
}

.carousel-inner {
	background-color: #8bffa7;
	height:100%;
	width : 100%;
}

.carousel-item {
	height : 95%;
	width : 100%;
}

.carousel-control .icon-prev, 
.carousel-control .icon-next {
    font-size: 100px;
	background-color:blue;
}

.carousel-control-next, .carousel-control-prev {
	width:8%;
	background-color:#5a5a5a;
}

.requirements {
	float:left;
    vertical-align: top;
	width : 27%;
	height:95%;
	margin-left:8%;
}

.courses {
	height:25%;
}

.info {
	overflow:auto;
	float:right;
  	vertical-align: top;
	width: 57%;
	height: 85%;
	margin-right: 8%;
	border-style: none;
	border-width: 0px;
}

.inside {
	overflow:auto;
	background-color: white;
}

#carouselExampleIndicators {
	min-height : 100%;
	max-height : 100%;
	min-width : 100%;
	max-width : 100%;
}

#semesterHead {
	height: 10%;	
	border-style:solid;
	border-width: 1px;
	border-right: 0px;
	border-top: 0;
	border-left: 0px;
	border-bottom:1px;
	/*font: 30px/32px sans-serif;*/
	font-family: Oswald;
}

ol {
	margin-bottom:0;
}

* {
	box-sizing: border-box;
}

.navbar {
	width:100%;
	height:30%;
	padding: 0px;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	
}

#Audit {
	font-size:2em;
	text-align: center;
	overflow:auto;
}

table, th, td{
	border: 1px solid #333;
	border-collapse: collapse;
	padding: 15px;
	font-family: Oswald;
	vertical-align: middle;
}

table {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.active{
	background:#8bffa7;
}
tr {
	background-color: white;
	color=black;
}

th {
	background-color: #8bffa7;
}

td{
}

caption {
	padding: 10px;
	letter-spacing: 0.5px;
}
#Course{
	border-style:none;
	border-width:2px;
	background-color:white;
}
.btn-primary1{
	font-size:20px;
	height:100%;
	color: black;
    background-color: white;
    border-color: #bbecc6;
	}
.btn-primary2{
	font-size:20px;
	height:100%;
	color: black;
    background-color: #bbecc6;
    border-color: #bbecc6;
}
.btn-primary3{
	font-size:20px;
	height:100%;
	color: black;
    background-color: white;
    border-color: #bbecc6;
}
.btn-primary{
	background-color: white;
	color: black;
	border-color:#bbecc6;
	height:100%;
	width:100%;
}
.btn-primary:hover{
	background-color:#bbecc6;
	color:black;
}
.carouselHeader{
	width:100%;
	padding-right: 15px;
    padding-left: 15px;
}
#top{
	background-color:white;
	height:15%;
	width:100%;
	border-left-style: solid;
    border-right-style: solid;
    border-right: 1px;
    border-left: 1px;
}

.carousel-control-next:hover, .carousel-control-prev:hover{
	    background-color: #5a5a5a;
		
}

